/* CSS declarations go here */

#moodknobs {
  max-width: 1260px;
  min-width: 660px;
  margin: auto;
}
#moodknobs label {
  margin-top: 20px;
  font-weight: bold;
  font-size: 150%;
  text-align: center;
}
.knobby {
  display: inline-block;
  width: 200px;
}

#playlist {
  clear: both;
  width: 500px;
  margin: auto;
}

#now-playing {
  clear: both;
  width: 500px;
  margin: auto;
}

#tomahawk-player {
  clear: both;
  width: 500px;
  margin: auto;
}

#players {
  display: none;
}